body {
    margin: 0;
    font-family: helvetica-neue,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #f5f5f5;
}

.headerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topHeader {
    background-color: #F96302;   
    text-align: center;
    color: white;
    height: 32px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.topHeaderText {
    padding-top: 2px;
}

.mainHeaderWrapper {
    background-color: white;
    height: 139px;
    box-shadow: 0 6px 6px -4px lightgray;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centerMainHeaderWrapper {
    background-color: white;
    height: 64px;
    display: flex;
    justify-content: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.topHeaderLinksWrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 55%;
    height: 25px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.topHeaderLinks {
    font-size: 11px;
    color: #333333;
    margin-right: 21px;
}

.headerLeft {
    display: flex;
    height: 64px;
}

.homeDepotLogoImg {
    height: 64px;
    width: 64px;
}

.yourShoppingwrapper {
    margin-left: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
    margin-top: auto;
    width: 150px;
}

.chevDown {
    height: 7.5px;
    width: 12px;
}

.greenDot {
    height: 11px;
    width: 11px;
}

.yourShopping {
    font-size: 14px;
}

.location {
    font-size: 14px;
    font-weight: bold;
}

.open {
    color: green;
    font-size: 14px;
}

.openText {
    color: green;
    font-size: 14px;
    font-weight: bold;
}

.deliveringWrapper {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    width: 100px;
    text-align: center;
}

.deliverTo {
    margin-top: 15px;
}

.headerMiddle {
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: end;
}

.searchbarWrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    height: 34px;
}

.searchIcon {
    background-color: #F96302;
    height: 36px;
    width: 30px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

.searchIconImg {
    height: 30px;
    width:30px;
}


.headerRight {
    width: 30%;
    display: flex;
    justify-content: right;
}

.headerRightInnerWrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.cart {
    display: flex;
}

.myAccount, .lists, .cartText{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.accountIconImg, .cartIconImg, .heart {
    height: 24px;
    width: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.bottonHeaderLinksWrapper {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 47px;
}

.bottomHeaderLinks {
    font-size: 14px;
}

.mainBodyContentWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.mainBodyContent {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topPicImg {
    width: 100%;
}

.topImageBottomSpacer {
    text-align: right;
    padding: 10px;
    font-size: 18px;
    height: 64px;
}

.dadKnows {
    background-image: url("https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/fetch/Events/FathersDay-RM-Banner-4410827-dsk.jpg");
    height: 152px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 35px;
}

.arrow {
    font-size: 20px;
    height: 53px;
    width: 30px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #F96302;
}

.fathersDaySavingsMainWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.fathersDaySavingsBanner {
    height: 92px;
    border-top: 8px solid #F96302;
    font-size: 32px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 30px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.fatherDaySavingsLinksWrapper {
    display: flex;
    background-color: white;
}

.fathersDayLinkActive {
    font-size: 18px;
    font-weight: bold;
    color:#F96302;
    border-bottom: 5px solid #F96302;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

}

.fathersDayLink {
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    color: #3e7697;
}

.fathersDaySavingsWrapper {
    display: flex;
    height: 310px;
    background-color: white;
    justify-content: space-around;
}

.topPicks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid lightgray;
    height: 206px;
    margin-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    color: #3e7697;
}

.topPicsImg {
    width: 154px;
    height: 105px;
    margin-bottom: 15px;
}

.prodWrapper {
    display: flex;
    background-color: white;
}

.prod {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
}

.prodPicImg {
    width: 162px;
    height: 162px;
}

.prodDesc{
    font-size: 14px;
}

.star {
    height: 15px;
    width: 15px;
}

.cost {
    font-size: 24px;
    font-weight: bold;
}

.BenefitsRowWrapper, .installServicesRow{
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

}

.benefitsBoxWrapper, .recentlyBoxWrapper, .percentBoxWrapper, .installServicesCell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 488px;
    background-color: white;
    border: 1px solid lightgray;
}

.benefitsTopGroup, .recentlyTopGroup {
    display: flex;
    flex-direction: column;
}

.percentBoxTopWrapper {
    display: flex;
    flex-direction: column;
}

.percentBoxTopWrapper {
    display: flex;
}

.percentTopLeftWrapper {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.percentTopRight {
    width: 25%;
    text-align: right;
}

.percentMiddleLeft {
    font-size: 18px;
}

.percentMiddleRow {
    display: flex;
}

.percentBottomLeft {
    font-size: 16px;
    font-weight: bold;
    color: #F96302;
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 24px;
}

.percentCellTopImg{
    height: 128px;
    width: 128px;
}

.clock {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.benefitsTop, .recentlyTop, .percentTopLeft {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.benefitsSignIn {
    font-size: 16px;
    font-weight: normal;
    text-decoration: underline;
}

.benefitsImg {
    height: 125px;
    width: 427px;
}

.benefitsList {
    font-size: 16px;
    line-height: 25px;
}

.create {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #F96302;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 427px;
}

.recentlyNav {
    text-align: right;
    font-size: 24px;
    padding: 15px;
}

.recentlyImg {
    height: 195px;
    width: 195px;
}

.recentlyProdDesc {
    width: 195px;
}

.percentTopRightImg {
    width: 53px;
    height: 49px;
}

.benefitsBoxWrapper, .reventlyViewedBoxWrapper, .percentBoxWrapper {
    width: 31%;
    border: 1px solid lightgray;
    background-color: white;
}

.juneBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
}

.juneBoxHeader {
    height: 92px;
    font-size: 32px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 50px;
}

.juneBoxRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.juneBoxCell {
    width: 420px;
    height: 424px;
    border: 1px solid lightgray;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.juneImg {
    width: 415px;
    height: 243px;
}

.juneHeader {
 font-size: 28px;
 font-weight: bold;
}

.juneText {
    font-size: 16px;
}

.juneShopNow {
    color: #F96302;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #F96302;
    height: 40px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftsWrapper {
    display: flex;
    flex-direction: column;
}

.giftsHeader {
    height: 92px;
    font-size: 32px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 30px;
}

.giftsContainer {
    display: flex;
    justify-content: space-between;
}

.giftCell {
 border: 1px solid lightgray;
 padding: 10px;
 background-color: white;
 height: 282px;
 width: 200px;
}

.giftCellTop {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.giftCellTopImg {
    height: 189px;
    width: 189px;
}

.giftCellBottom {
    font-size: 18px;
    font-weight: bold;
}

.categoryWrapper {
width: 100%;
display: flex;
flex-direction: column;
margin-bottom: 30px;
}

.categoryHeader {
    height: 92px;
    font-size: 32px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 30px;
}

.categoryHeaderText {
    width: 278px;
    border-bottom: 2px solid #F96302;
}

.categoryRow {
width: 100%;
display: flex;
justify-content: space-evenly;
margin-bottom: 18px;
}

.categoryCell {
    background-color: white;
    width: 175px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.categoryImg {
    height: 42px;
    width: 42px;
    margin-right: 15px;
}

.categoryText {
    font-size: 14px;
}

.installServicesCell {
    width: 30%;
}

.installServicesCellNoBorder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 488px;
    background-color: white;
    width: 30%;
}

.forYouRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.forYouCellDouble {
    width: 63%;
    height: 424px;
    border: 1px solid lightgray;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.forYouCell {
    width: 30%;
    height: 424px;
    border: 1px solid lightgray;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sponsoredWrapper {
    width: 100%;
    height: 62px;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sponsoredText {
    font-size: 24px;
    font-weight: bold;
    color: #212120;
    margin-left: 20px;
}

.todayWrapper {
    width: 100%;
    height: 830px;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.searchByWrapper {
    width: 100%;
    height: 230px;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    align-items: center;
}